@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy") format("svg"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.svg#FuturaPT-Bold") format("svg"), url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.svg#FuturaPT-Light") format("svg"), url("../fonts/FuturaPT-Light.ttf") format("truetype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("../fonts/FuturaPT-Book.eot");
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.svg#FuturaPT-Book") format("svg"), url("../fonts/FuturaPT-Book.ttf") format("truetype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url("../fonts/FuturaPT-Demi.eot");
  src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.svg#FuturaPT-Demi") format("svg"), url("../fonts/FuturaPT-Demi.ttf") format("truetype"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* General styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease; }

/* The rest code */
.container {
  width: 1130px;
  margin: 0 auto; }

.header-container {
  width: 1250px;
  margin: 0 auto; }

.header {
  padding: 10px 0px;
  position: relative;
  width: 100%;
  top: 0;
  left: 0; }
  .header-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2; }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__link {
    text-decoration: none;
    color: #4b4b4b;
    font-family: "FuturaPT-Book";
    font-size: 19px;
    margin-right: 40px;
    display: block; }
    .header__link-first:hover:after {
      content: '';
      display: block;
      width: 40px;
      height: 3px;
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
      position: absolute;
      top: 30px;
      left: 0; }
    .header__link-second:hover:after {
      content: '';
      display: block;
      width: 120px;
      height: 3px;
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
      position: absolute;
      top: 30px;
      left: 1px; }
    .header__link-third:hover:after {
      content: '';
      display: block;
      width: 73px;
      height: 3px;
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
      position: absolute;
      top: 30px;
      left: 1px; }
  .header__link:hover {
    position: relative;
    color: #be1622; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navbar-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar-line {
    display: block;
    width: 1px;
    height: 100px;
    background-color: #ebebeb; }
  .navbar-line:first-child {
    margin: 0px 30px 0px 30px; }
  .navbar-text {
    color: #4b4b4b;
    font-family: "FuturaPT-Book";
    text-decoration: none;
    font-size: 19px;
    margin-right: 50px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .navbar-text:last-child {
    margin-right: 30px; }
  .navbar-text:first-child {
    margin-left: -5px; }
  .navbar-text:hover {
    border-bottom: 2px solid #d02935; }
  .navbar-yout {
    margin-left: 30px; }
  .navbar-brand {
    border-radius: 50px;
    padding: 10px;
    margin-right: 12px;
    -webkit-box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
            box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
    background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%), -o-linear-gradient(bottom, #ff0100 0%, #fd3131 100%);
    background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%), linear-gradient(to top, #ff0100 0%, #fd3131 100%); }
  .navbar-link {
    font-family: "FuturaPT-Medium";
    text-decoration: none;
    padding: 13px 55px;
    color: #fff;
    font-size: 22px;
    background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
    background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
    border-radius: 26px; }

.offer {
  background: #f4f4f4;
  padding: 125px 0px 100px; }
  .offer-title {
    font-family: 'FuturaPT-Bold';
    text-align: center;
    color: #3d3d3d;
    font-size: 55px;
    line-height: 0; }
  .offer-text {
    font-family: 'FuturaPT-Medium';
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    width: 530px;
    color: #595959;
    padding-top: 10px;
    padding-bottom: 40px; }
  .offer-img {
    display: block;
    margin: 0 auto; }

.instruction {
  padding: 60px; }
  .instruction-title {
    padding-bottom: 40px;
    text-align: center;
    color: #3d3d3d;
    font-family: "FuturaPT-Heavy";
    font-size: 39px; }
  .instruction-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .instruction-item {
    margin: 0 auto;
    text-align: center; }
    .instruction-item__img {
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
      -webkit-box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
              box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
      padding: 23px 23px 23px 23px;
      border-radius: 100px; }
    .instruction-item__text {
      font-family: "FuturaPT-Book";
      font-size: 20px;
      color: #595959; }
    .instruction-item__text:nth-child(2) {
      width: 320px; }

.profession {
  z-index: 5;
  background-color: #f4f4f4;
  padding: 85px 0px; }
  .profession-title {
    font-family: "FuturaPT-Demi";
    font-size: 27px;
    color: #505050;
    padding-bottom: 40px; }
  .profession-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 18px; }
  .profession-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    width: 258px;
    height: 68px;
    border-radius: 15px;
    background-color: #ffffff; }
    .profession-header p {
      padding-left: 25px;
      color: #505050;
      font-family: "FuturaPT-Bold";
      font-size: 18px; }
  .profession-body {
    background: #ffffff;
    max-height: 0;
    overflow: hidden;
    width: 258px;
    -webkit-transition: max-height .4s ease-in;
    -o-transition: max-height .4s ease-in;
    transition: max-height .4s ease-in;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .profession-img {
    display: block;
    background: url("../img/arrow.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    padding-right: 30px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .profession-send {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 180px; }
    .profession-send__pick {
      text-decoration: none;
      border-radius: 39px;
      padding: 0px 40px;
      height: 80px;
      width: 390px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%); }
      .profession-send__pick span {
        color: #ffffff;
        font-family: "FuturaPT-Demi";
        font-size: 25px; }
      .profession-send__pick img {
        margin-left: 23px; }
    .profession-send__pay {
      width: 187px;
      height: 62px;
      color: #ffffff;
      font-family: "FuturaPT-Bold";
      font-size: 22px; }
    .profession-send__item:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #505050;
      font-family: "FuturaPT-Bold";
      font-size: 22px; }
    .profession-send__brand {
      height: 50px;
      width: 50px; }
    .profession-send__text {
      margin-right: 20px; }

.result {
  padding-top: 40px;
  padding-bottom: 75px; }
  .result-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .result-title {
    color: #3d3d3d;
    font-family: "FuturaPT-Heavy";
    font-size: 39px; }
  .result-link {
    color: #be1622;
    font-family: "FuturaPT-Medium";
    font-size: 23px; }
  .result-offer {
    padding-top: 20px; }
    .result-offer__title {
      color: #505050;
      font-family: "FuturaPT-Demi";
      font-size: 27px; }
    .result-offer__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 422px;
      padding-top: 20px; }
      .result-offer__block ol li {
        color: #505050;
        font-family: "FuturaPT-Medium";
        font-size: 23px; }
  .result-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px; }
  .result-body__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 25px;
    cursor: pointer;
    width: 543px;
    height: 68px;
    -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: #ffffff; }
  .result__body {
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    width: 543px;
    -webkit-transition: max-height .4s ease-in;
    -o-transition: max-height .4s ease-in;
    transition: max-height .4s ease-in; }

.footer {
  padding: 80px 0px 30px;
  background-color: #f4f4f4; }
  .footer-block__link {
    color: #868686;
    font-family: "FuturaPT-Book";
    font-size: 18px;
    text-decoration: underline; }
  .footer-block__link:first-child {
    margin-right: 40px; }
  .footer-block__item:last-child {
    color: #565656;
    font-family: "FuturaPT-Book";
    font-size: 18px;
    text-align: right; }
    .footer-block__item:last-child a {
      text-decoration: none;
      color: #be1622;
      text-decoration: underline; }
  .footer-block:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-block:nth-child(2), .footer-block:last-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #666666;
    font-family: "FuturaPT-Light";
    font-size: 17px; }
  .footer-block:last-child p:first-child {
    margin-right: 40px; }

.filtres {
  padding-top: 70px;
  padding-bottom: 70px; }
  .filtres-navigation__item {
    color: #be1622;
    font-family: "FuturaPT-Light";
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .filtres-navigation__item a {
      text-decoration: none;
      color: #be1622; }
    .filtres-navigation__item span {
      display: block;
      width: 5px;
      height: 5px;
      background-color: #c31b27;
      border-radius: 50px;
      margin: 0px 20px; }
  .filtres-navigation__current {
    color: #4b4b4b; }
  .filtres-header__title {
    color: #3d3d3d;
    font-family: "FuturaPT-Heavy";
    font-size: 39px; }
  .filtres-header__subtitle {
    color: #505050;
    font-family: "FuturaPT-Demi";
    font-size: 27px;
    line-height: 0; }
  .filtres-header__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .filtres-header__link {
    color: #be1622;
    font-family: "FuturaPT-Demi";
    font-size: 23px; }
  .filtres-block__item {
    margin-bottom: 30px; }
  .filtres-block__title {
    color: #505050;
    font-family: "FuturaPT-Medium";
    font-size: 18px; }
  .filtres-block__skill {
    margin-top: 50px; }
  .filtres-block__skills {
    width: 23%;
    height: 120px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 25px; }
    .filtres-block__skills__checkbox {
      width: 18px;
      height: 18px;
      background-image: url("../img/checkbox-1.png");
      margin-right: 8px; }
    .filtres-block__skills__item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .filtres-block__skills__item:nth-child(7) {
      margin-top: 20px !important; }
    .filtres-block__skills__text, .filtres-block__skills__checkbox {
      margin-top: 0;
      padding-top: 0; }
    .filtres-block__skills__text {
      font-family: "FuturaPT-Book"; }
  .filtres-block__element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .filtres-block__element__item {
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .filtres-block__header {
    -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
    .filtres-block__header__item {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px 25px; }
      .filtres-block__header__item p:first-child {
        color: #505050;
        font-family: "FuturaPT-Medium";
        font-size: 23px; }
      .filtres-block__header__item p:last-child {
        color: #4b4b4b;
        font-family: "FuturaPT-Medium";
        font-size: 23px; }
  .filtres-img {
    padding-right: 40px; }
  .filtres-professions {
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 10px; }
    .filtres-professions__title {
      color: #505050;
      font-family: "FuturaPT-Demi";
      font-size: 27px; }
    .filtres-professions__element {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .filtres-professions__block:first-child {
      margin-right: 113px;
      margin-left: 10px; }
    .filtres-professions__text {
      color: #505050;
      font-family: "FuturaPT-Medium";
      font-size: 23px; }

.prof {
  padding: 150px 0px 180px;
  background: #f4f4f4;
  position: relative; }
  .prof-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .prof-block__title {
      color: #3d3d3d;
      font-family: "FuturaPT-Bold";
      font-size: 55px;
      width: 570px;
      margin: 0; }
    .prof-block__text {
      color: #595959;
      font-family: "FuturaPT-Medium";
      font-size: 28px;
      margin-bottom: 40px; }
    .prof-block__item:last-child {
      position: absolute;
      right: 5%;
      top: 45px; }
    .prof-block__img {
      width: 834px;
      height: 551px; }

.orientation {
  padding: 305px 0px;
  position: relative;
  background: #ffffff; }
  .orientation-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .orientation-block__item:first-child {
      position: absolute;
      left: 0; }
    .orientation-block__item:last-child {
      position: absolute;
      right: 10%; }

.why {
  background: #f4f4f4;
  padding: 95px 0px; }
  .why__title {
    text-align: center;
    color: #3d3d3d;
    font-family: "FuturaPT-Heavy";
    font-size: 39px;
    margin-bottom: 80px; }
  .why-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
    .why-block__title {
      color: #505050;
      font-family: "FuturaPT-Demi";
      font-size: 27px;
      line-height: 0; }
    .why-block__text {
      color: #4b4b4b;
      width: 220px;
      font-family: "FuturaPT-Book";
      font-size: 20px; }

.youtube {
  padding: 65px 0px 115px; }
  .youtube .container {
    position: relative; }
  .youtube-category {
    z-index: 6;
    cursor: pointer;
    text-decoration: underline; }
  .youtube-block:first-child p {
    text-decoration: underline; }
  .youtube-blocks {
    position: relative;
    z-index: 1; }
  .youtube-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .youtube-block__img {
      border-radius: 20px; }
    .youtube-block__text {
      color: #4b4b4b;
      font-family: "FuturaPT-Book";
      font-size: 20px;
      width: 190px; }
    .youtube-block__texttwo {
      text-decoration: none !important; }
    .youtube-block__element {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .youtube-block__category {
      display: none;
      z-index: 5;
      background: #fff;
      position: absolute;
      right: -30px;
      top: 3%;
      width: 303px;
      height: 451px;
      border-radius: 15px;
      padding-left: 30px;
      padding-top: 70px; }
      .youtube-block__category__check {
        background: url("../img/checkbox-2.png");
        width: 18px;
        height: 18px;
        margin-right: 10px;
        cursor: pointer; }
      .youtube-block__category__text {
        color: #505050;
        font-family: "FuturaPT-Medium";
        font-size: 22px;
        line-height: 0em;
        text-decoration: none !important;
        cursor: pointer; }
  .youtube-switch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #4b4b4b;
    font-family: "Futura PT - Book";
    font-size: 20px; }
    .youtube-switch__previous {
      margin-right: 30px;
      cursor: pointer; }
    .youtube-switch__next {
      margin-left: 30px;
      cursor: pointer; }
    .youtube-switch__pages {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; }
    .youtube-switch__text {
      margin-right: 10px; }
    .youtube-switch__text:first-child {
      color: #be1622; }
    .youtube-switch__text:last-child {
      margin-right: 0; }

.question {
  position: relative;
  background: #f4f4f4;
  padding-top: 82px; }
  .question .container {
    width: 1260px; }
  .question__title {
    color: #565656;
    font-family: "FuturaPT-Heavy";
    font-size: 39px;
    margin-left: 31%; }
  .question-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .question-block__info {
      padding: 0px 25px 0px 40px;
      margin-top: 30px;
      border-radius: 37px;
      background-color: #ffffff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 410px;
      height: 77px; }
      .question-block__info input {
        width: 90%;
        border: 0;
        color: #414141;
        font-family: "FuturaPT-Book";
        font-size: 23px; }
      .question-block__info img {
        -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
        padding: 12px 13px;
        border-radius: 50px; }
    .question-block__item a {
      width: 410px;
      margin-top: 17px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .question-block__answer {
      height: 160px;
      -webkit-box-align: start;
      -webkit-align-items: start;
          -ms-flex-align: start;
              align-items: start;
      padding-top: 25px; }
    .question-block__text {
      color: #868686;
      font-family: "FuturaPT-Book";
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 18px; }
      .question-block__text img {
        margin-right: 10px; }

/* General styles */
.result-opened {
  max-height: 150px; }

.filtres-opened {
  max-height: 1000px;
  padding: 30px 30px 0px 40px;
  width: 100%;
  background-color: #f4f4f4; }

.opened {
  max-height: 150px; }

.border {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; }

.transform {
  -webkit-transform: translate(-11px, 0px) rotate(180deg);
      -ms-transform: translate(-11px, 0px) rotate(180deg);
          transform: translate(-11px, 0px) rotate(180deg); }

.nav-opened {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.check-active {
  background: url("../img/checkbox-1.png") !important; }

.category-active {
  display: block !important; }

.body-active {
  position: relative;
  left: -700px; }

.navbar-active {
  right: 0 !important; }

.overflow {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.overflow-active {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 20; }
