@font-face {
  font-family: 'FuturaPT-Light';
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.svg#FuturaPT-Light") format("svg"), url("../fonts/FuturaPT-Light.ttf") format("truetype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.svg#FuturaPT-Bold") format("svg"), url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-HeavyObl';
  src: url("../fonts/FuturaPT-HeavyObl.eot");
  src: url("../fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl") format("svg"), url("../fonts/FuturaPT-HeavyObl.ttf") format("truetype"), url("../fonts/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT-HeavyObl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-DemiObl';
  src: url("../fonts/FuturaPT-DemiObl.eot");
  src: url("../fonts/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-DemiObl.svg#FuturaPT-DemiObl") format("svg"), url("../fonts/FuturaPT-DemiObl.ttf") format("truetype"), url("../fonts/FuturaPT-DemiObl.woff") format("woff"), url("../fonts/FuturaPT-DemiObl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-BookObl';
  src: url("../fonts/FuturaPT-BookObl.eot");
  src: url("../fonts/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BookObl.svg#FuturaPT-BookObl") format("svg"), url("../fonts/FuturaPT-BookObl.ttf") format("truetype"), url("../fonts/FuturaPT-BookObl.woff") format("woff"), url("../fonts/FuturaPT-BookObl.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.svg#FuturaPT-Medium") format("svg"), url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/* General styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

/* The rest code */
.container {
  width: 1130px;
  margin: 0 auto; }

.header-container {
  width: 1250px;
  margin: 0 auto; }

.header {
  padding: 10px 0px;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; }
  .header-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2; }
  .header__menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__link {
    text-decoration: none;
    color: #4b4b4b;
    font-family: "FuturaPT-BookObl";
    font-size: 19px;
    margin-right: 40px;
    display: block; }
  .header__link:hover {
    border-bottom: 2px solid #c31b27; }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navbar-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navbar-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar-line {
    display: block;
    width: 1px;
    height: 100px;
    background-color: #ebebeb; }
  .navbar-line:first-child {
    margin: 0px 30px 0px 30px; }
  .navbar-text {
    color: #4b4b4b;
    font-family: "FuturaPT-BookObl";
    text-decoration: none;
    font-size: 19px;
    margin-right: 50px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .navbar-text:last-child {
    margin-right: 30px; }
  .navbar-text:first-child {
    margin-left: -5px; }
  .navbar-text:hover {
    border-bottom: 2px solid #d02935; }
  .navbar-brand:first-child {
    margin-left: 30px; }
  .navbar-brand {
    border-radius: 50px;
    padding: 10px;
    margin-right: 12px;
    -webkit-box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
            box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
    background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%), -o-linear-gradient(bottom, #ff0100 0%, #fd3131 100%);
    background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%), linear-gradient(to top, #ff0100 0%, #fd3131 100%); }
  .navbar-link {
    font-family: "FuturaPT-Medium";
    text-decoration: none;
    padding: 13px 55px;
    color: #fff;
    font-size: 22px;
    background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
    background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
    border-radius: 26px; }

.offer {
  background: #f4f4f4;
  padding: 125px 0px 100px; }
  .offer-title {
    font-family: 'FuturaPT-Bold';
    text-align: center;
    color: #3d3d3d;
    font-size: 55px;
    line-height: 0; }
  .offer-text {
    font-family: 'FuturaPT-Medium';
    font-size: 28px;
    text-align: center;
    margin: 0 auto;
    width: 530px;
    color: #595959;
    padding-top: 10px;
    padding-bottom: 40px; }
  .offer-img {
    display: block;
    margin: 0 auto; }

.instruction {
  padding: 60px; }
  .instruction-title {
    padding-bottom: 40px;
    text-align: center;
    color: #3d3d3d;
    font-family: "FuturaPT-HeavyObl";
    font-size: 39px; }
  .instruction-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .instruction-item {
    margin: 0 auto;
    text-align: center; }
    .instruction-item__img {
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
      -webkit-box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
              box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
      padding: 23px 23px 23px 23px;
      border-radius: 100px; }
    .instruction-item__text {
      font-family: "FuturaPT-BookObl";
      font-size: 20px;
      color: #595959; }
    .instruction-item__text:nth-child(2) {
      width: 420px; }

.profession {
  z-index: 5;
  background-color: #f4f4f4;
  padding: 85px 0px; }
  .profession-title {
    font-family: "FuturaPT-DemiObl";
    font-size: 27px;
    color: #505050;
    padding-bottom: 40px; }
  .profession-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 18px; }
  .profession-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    width: 258px;
    height: 68px;
    border-radius: 15px;
    background-color: #ffffff; }
    .profession-header p {
      padding-left: 25px;
      color: #505050;
      font-family: "FuturaPT-Bold";
      font-size: 18px; }
  .profession-body {
    background: #ffffff;
    max-height: 0;
    overflow: hidden;
    width: 258px;
    -webkit-transition: max-height .4s ease-in;
    -o-transition: max-height .4s ease-in;
    transition: max-height .4s ease-in;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .profession-img {
    display: block;
    background: url("../img/arrow.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    padding-right: 30px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .profession-send {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 180px; }
    .profession-send__pick {
      text-decoration: none;
      border-radius: 39px;
      padding: 0px 40px;
      height: 80px;
      width: 390px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-image: -o-linear-gradient(39deg, #be1622 0%, #d62f3b 100%);
      background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%); }
      .profession-send__pick span {
        color: #ffffff;
        font-family: "FuturaPT-DemiObl";
        font-size: 25px; }
      .profession-send__pick img {
        margin-left: 23px; }
    .profession-send__pay {
      width: 187px;
      height: 62px;
      color: #ffffff;
      font-family: "FuturaPT-Bold";
      font-size: 22px; }
    .profession-send__item:last-child {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #505050;
      font-family: "FuturaPT-Bold";
      font-size: 22px; }
    .profession-send__brand {
      height: 50px;
      width: 50px; }
    .profession-send__text {
      margin-right: 20px; }

.result {
  padding-top: 40px;
  padding-bottom: 75px; }
  .result-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .result-title {
    color: #3d3d3d;
    font-family: "FuturaPT-HeavyObl";
    font-size: 39px; }
  .result-link {
    color: #be1622;
    font-family: "FuturaPT-Medium";
    font-size: 23px; }
  .result-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 25px; }
  .result-body__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 25px;
    cursor: pointer;
    width: 543px;
    height: 68px;
    -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    background-color: #ffffff; }
  .result__body {
    max-height: 0;
    overflow: hidden;
    background: #ffffff;
    width: 543px;
    -webkit-transition: max-height .4s ease-in;
    -o-transition: max-height .4s ease-in;
    transition: max-height .4s ease-in; }

.footer {
  padding: 80px 0px 30px;
  background-color: #f4f4f4; }
  .footer-block__link {
    color: #868686;
    font-family: "FuturaPT-BookObl";
    font-size: 18px;
    text-decoration: underline; }
  .footer-block__link:first-child {
    margin-right: 40px; }
  .footer-block__item:last-child {
    color: #565656;
    font-family: "FuturaPT-BookObl";
    font-size: 18px;
    text-align: right; }
    .footer-block__item:last-child a {
      text-decoration: none;
      color: #be1622;
      text-decoration: underline; }
  .footer-block:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-block:last-child {
    text-align: center;
    color: #666666;
    font-family: "FuturaPT-Light";
    font-size: 17px; }

/* General styles */
.result-opened {
  max-height: 150px; }

.opened {
  max-height: 150px; }

.border {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important; }

.transform {
  -webkit-transform: translate(-11px, 0px) rotate(180deg);
      -ms-transform: translate(-11px, 0px) rotate(180deg);
          transform: translate(-11px, 0px) rotate(180deg); }

.nav-opened {
  display: block !important; }

.navbar-active {
  top: 90px !important; }
