@media screen and (max-width: 1900px) {
	.offer{
		&-img{
			width: 1400px;
		}
	}
}
@media screen and (max-width: 1750px) {
	.prof{
		&-block{
			&__item:last-child{
				width: 600px;
				top: 70px;
			}
			&__img{
				width: 600px;
				height: 400px;
			}
		}
	}
	.orientation{
		&-block{
			&__item:first-child{
				width: 600px;
			}
		}
		&__img{
			width: 700px;
		}
	}
}
@media screen and (max-width: 1420px) {
	.header-container, .container{
		width: 1000px;
	}
	.navbar{
		&-logo{
			margin-left: 10px;
		}
		&-brand{
			margin-right: 5px;
		}
		&-yout{
			margin-left: 10px;
		}
		&-line:first-child, &-line:last-child{
			margin: 0px 10px;
		}
		&-link{
			padding: 13px 35px;
		}
	}
	.header{
		&__link{
			margin-right: 10px !important;
			font-size: 17px;
		}
		&__menu{
			margin: 0px 20px;
		}
		&-cabinet{
			right: 0;
		}
		&-data{
			right: 0;
		}
	}
	.offer{
		&-img{
			width: 1000px;
		}
	}
	.prof{
		&-block{
			&__item:last-child{
				width: 400px;
				top: 120px;
			}
			&__img{
				width: 400px;
				height: 300px;
			}
		}
	}
	.orientation{
		&-block{
			&__item:last-child{
				right: 10%;
				h1{
					text-align: right;
					font-size: 45px;
				}
				p{
					text-align: right;
				}
				a{
					margin-left: auto;
				}
			}
		}
		&__img{
			width: 500px;
		}
	}
	.youtube{
		&-block{
			flex-wrap: wrap;
			&__img{
				width: 200px;
			}
		}
		&-item{
			&__block:last-child{
				margin: 10px 0;
			}
		}
	}
	.question{
		&__title{
			margin-left: 40%;
		}
		.container{
			width: 1000px;
		}
		&-block{
			align-items: center;
			&__item:first-child{
				img{
					width: 250px;
				}
			}
			&__item:last-child{
				width: 150px;
				img{
					width: 400px;
					position: absolute;
					right: 0;
					top: 30%;
				}
			}
			&__item:nth-child(2) {
				margin: 0 auto;
				z-index: 5;
			}
		}
	}
	.cabinet{
		&-content{
			&__item{
				width: 470px;
			}
		}
	}
}

@media screen and (max-width: 1250px) {
	.question{
		&-block{
			&__item:first-child{
				img{
					width: 210px;
				}
			}
			&__item:last-child{
				img{
					width: 320px;
					top: 38%;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.container, .header-container{
		width: 700px;
	}
	.header{
		width: 100%;
		position: relative;
		&__menu{
			margin: 0;
		}
		&-nav{
			display: block;
			flex-direction: column;
			position: fixed;
			top: 0;
			right: -700px;
			width: 700px;
			height: 100vh;
			transition: .4s;
			z-index: -20;
			background-color: white;
		}
		&__menu{
			display: none;
			z-index: -1;
			transition: .4s;
			align-items: start;
		}
		&-body{
			justify-content: space-between;
			align-items: center;
			z-index: 30;
		}
		&__burger{
			position: relative;
			z-index: 10000;
			cursor: pointer;
			display: block;
			width: 30px;
			height: 2px;
			background-color: black;
		}
		&__burger:before{
			content: '';
			display: block;
			width: 30px;
			height: 2px;
			background-color: black;
			position: absolute;
			bottom: 10px;
		}
		&__burger:after{
			content: '';
			display: block;
			width: 30px;
			height: 2px;
			background-color: black;
			position: absolute;
			top: 10px;
		}
		&__link{
			display: block;
			margin-right: 0;
			width: 100%;
			color: #fff;
			text-transform: uppercase;
			background: #be1622;
			font-size: 25px;
			padding: 20px 0px 20px 30px;
			border-bottom: 1px solid #fff;
			&-first:hover:after, &-second:hover:after, &-third:hover:after{
				background-image: none;
			}
		}
		&__link:hover{
			color: #fff;
		}
		&-data{
			top: 350px !important;
			left: 0;
		}
		&-cabinet{
			top: 221px;
		}
	}
	.navbar{
		display: block;
		&-logo{
			position: static;
			z-index: 0;
		}
		&-block{
			flex-direction: column-reverse;
			display: none;
			transition: .4s;
			padding-top: 30px;
			a:first-child{
				margin-bottom: 20px;
			}
			a:last-child{
				width: 90%;
				text-align: center;
				padding: 15px 0px;
				font-size: 25px;
			}
			&__element{
				margin-top: 20px;
			}
		}
		&-logo{
			z-index: 0;
			margin-left: 0;
		}
		&-line{
			display: none;
		}
		&-link{
			width: 90%;
			text-align: center;
		}
	}
	.offer{
		&-title{
			line-height: 1.5em;
		}
		&-img{
			width: 750px;
		}
	}
	.instruction{
		&-block{
			flex-direction: column;
		}
		&-item:first-child{
			margin-top: 0;
		}
		&-item{
			margin-top: 30px;
		}
	}
	.profession{
		&-block{
			flex-wrap: wrap;
		}
		&-item:nth-child(3), &-item:nth-child(4) {
			margin-top: 20px;
		}
		&-send{
			padding-top: 50px;
			flex-wrap: wrap;
			align-items: start;
		}
	}
	.result{
		&-block{
			flex-direction: column;
			align-items: center;
		}
		&-body{
			&__item{
				margin-top: 20px;
			}
		}
	}
	.footer{
		&-block{
			flex-direction: column;
			text-align: center;
			&__item:last-child{
				text-align: center;
			}
			&__item:nth-child(2) {
				margin: 30px 0px;
			} 
		}
		&-block:last-child{
			p:first-child{
				margin-right: 0;
			}
		}
	}
	.prof{
		padding-bottom: 440px;
		&-block{
			&__item:first-child{
				text-align: center;
				margin: 0 auto;
				a{
					margin: 0 auto;
				}
			}
			&__item:last-child{
				top: 500px;
				width: 600px;
				right: calc(50% - 300px);
				img{
					width: 600px;
					height: 400px;
				}
			}
		}
	}
	.orientation{
		padding-top: 150px;
		padding-bottom: 650px;
		&-block{
			position: relative;
			justify-content: end;
			&__item:first-child{
				width: 500px;
				right: calc(50% - 250px);
				left: auto;
				top: 250px;
				img{
					width: 500px;
					height: 300px;
				}
			}
			&__item:last-child{
				text-align: center;
				margin: 0 auto;
				padding-top: 100px;
				a{
					margin: 0 auto;
				}
				h1, p{
					text-align: center;
				}
			}
		}
	}
	.why{
		&-block{
			flex-wrap: wrap;
			&__item:last-child{
				margin: 20px auto 0px;
			}
		}
	}
	.youtube{
		&-block:last-child{
			flex-wrap: wrap;
		}
		&-block{
			&__item{
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&__item:last-child{
				margin: 20px auto;
			}
		}
	}
	.question{
		.container{
			width: 800px;
		}
		&__title{
			margin-left: 50%;
			font-size: 34px;
		}
		&-block{
			&__item:last-child{
				display: none;
			}
		}
	}
	.cabinet{
		&-header{
			&__title{
				text-align: center;
			}
		}
		&-block{
			justify-content: center;
		}
		&-content{
			flex-direction: column;
			align-items: center;
		}
	}
}

@media screen and (max-width: 800px) {
	.container, .header-container{
		width:600px;
	}
	.header{
		&-nav{
			right: -400px;
			width: 400px;
		}
		&-body{
			width: 600px;
		}
	}
	.body-active{
	    left: -400px;
	}
	.offer{
		&-img{
			width: 550px;
		}
	}
	.profession{
		&-item{
			margin: 0 auto;
		}
		&-title{
			text-align: center;
		}
		&-send{
			flex-direction: column;
			align-items: center;
			&__item:first-child{
				margin-bottom: 20px;
			}
		}
	}
	.filtres{
		&-header{
			&__title{
				font-size: 30px;
			}
		}
		&-block{
			&__title{
				text-align: center;
			}
			&__header{
				&__item{
					width: 70%;
				}
			}
			&__element{
				&__item{
					flex-direction: column;
					margin-top: 0;
				}
			}
			&__skills{
				width: 50%;
				margin: 0px auto 20px;
				height: 100px;
				padding-left: 0;
				&__item{
					justify-content: center;
				}
			}
		}
		&-opened{
			max-height: 1750px;
		}
	}
	.result{
		&-title{
			font-size: 28px;
		}
		&-link{
			font-size: 18px;
			text-align: right;
		}
		&-offer{
			padding-top: 0;
		}
	}
	.orientation{
		padding-top: 100px;
	}
	.why{
		padding: 60px 0px 30px;
		&-block{
			&__item:nth-child(3){
				margin: 30px 0px;
			}
			&__item:nth-child(4){
				margin: 25px 0px;
			}
		}
	}
	.youtube{
		padding: 50px 0px 80px;
	}
	.question{
		padding-top: 40px;
		.container{
			width: 600px;
		}
		&__title{
			margin-left: 0;
			text-align: center;
		}
		&-block{
			justify-content: center;
			&__item:first-child{
				display: none;
			}
			&__item{
				a{
				display: flex;
				justify-content: center;
				}
			}
		}
	}
	.prof{
		padding-bottom: 500px;
		&-block{
			&__title{
				font-size: 45px;
			}
		}
	}
	.orientation{
		&-block{
			&__item:first-child{
				top: 270px;
			}
			&__item:last-child{
				right: auto;
				h1{
					padding-top: 80px;
				}
			}
		}
	}
	.why{
		&__title{
			margin-bottom: 70px;
		}
		&-block{
			text-align: none;
			&__item{
				text-align: center;
			}
			&__item:nth-child(3), &__item:nth-child(4){
				margin-top: 20px;
			}
			&__text{
				margin: 0 auto;
			}
		}
	}
	.youtube{
		&-block{
			&__item{
				width: 250px;
			}
		}
	}
	.instruction{
		padding: 60px 0;
	}
	.cabinet{
		&-block{
			flex-direction: column;
			align-items: center;
			&__text{
				line-height: 2.2em;
			}
			&__data {
				line-height: 1.3em !important;
			}
		}
	}
}

@media screen and (max-width: 630px) {
	.header-container, .question .container, .container, .prof-block__item{
		width: 500px;
	}
	.body-active{
		left: -400px;
	}
	.header{
		&-nav{
			width: 400px;
			right: -400px;
		}
		&-body{
			width: 470px;
		}
	}
	.offer{
		&-title{
			font-size: 45px;
		}
		&-text{
			width: 470px;
		}
		&-img{
			width: 450px;
		}
	}
	.prof{
		padding-bottom: 350px;
		&-block{
			&__item{
				margin-left: -40px;
			}
			&__item:last-child{
				width: 450px;
				right: calc(50% - 225px);
				top: 450px;
				img{
					width: 450px;
					height: 270px;
				}
			}
			&__title{
				display: inline;
				font-size: 35px;
			}
		}
	}
	.profession{
		&-item:nth-child(2) {
			margin-top: 20px;
		}
	}
	.orientation{
		padding-top: 150px;
		&-block{
			&__item:first-child{
				width: 400px;
				right: calc(50% - 200px);
				top: 220px;
				img{
					width: 400px;
					height: 250px;
				}
			}
			&__item:last-child{
				right: 0%;
				padding-top: 80px;
				h1{
					font-size: 35px;
					margin-top: 200px;
				}
			}
		}
	}
	.footer{
		&-block{
			&__item:nth-child(2) {
				flex-direction: column;
			}
			&__link{
				width: 340px;
			}
			&__link:first-child{
				margin-bottom: 10px;
			}
		}
	}
	.youtube{
		&-block{
			&__category{
				top: 1%;
			}
			&__item:last-child{
				margin: 20px auto;
			}
		}
	}
	.filtres{
		&-block{
			&__title{
				font-size: 15px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.header-container{
		width: 330px;
	}
	.body-active{
		left: -300px;
	}
	.header{
		&-nav{
			width: 300px;
			right: -300px;
		}
		&-body{
			width: 340px;
		}
		&-data{
			&__title{
				line-height: 1.2em;
			}
			&__item:nth-child(2){
				padding: 10px 0px 0px;
			}
		}
		&-cabinet{
			top: 200px;
		}
	}
	.container{
		width: 300px;
	}
	.offer{
		padding-top: 50px;
		&-title{
			font-size: 27px;
		}
		&-text{
			width: 300px;
			font-size: 18px;
		}
		&-img{
			width: 320px;
		}
	}
	.header{
		&__link{
			font-size: 20px;
		}
		&-data{
			top: 270px !important;
			background: transparent !important;
			left: -20px;
		}
	}
	.navbar{
		&-img{
			width: 80%;
		}
	}
	.instruction{
		padding: 20px 0px;
		&-title{
			text-align: center;
			width: 300px;
			font-size: 30px;
		}
		&-block{
			width: 300px;
		}
		&-item{
			margin: 0;
			text-align: center;
			width:  300px;
			&__text:first-child{
				width: 300px;
			}
			&__text:nth-child(2), &__background{
				width: 300px;
			}
		}
	}
	.profession{
		padding-top: 50px;
		&-block{
			justify-content: center;
		}
		&-send{
			align-items: center;
			&__item:last-child{
				flex-direction: column;
				align-items: center;
			}
			&__button{
				width: 300px;
				height: 60px;
				span{
					font-size: 16px;
				}
			}
			&__pay{
				height: 60px;
				font-size: 18px;
				justify-content: center;
			}
		}
	}
	.result{
		&-body{
			&__item{
				width: 380px;
				margin: 0 auto;
			}
		}
		&-item:nth-child(2){
			margin-top: 20px;
		}
		&-item, &__body{
			width: 380px;
		}
		&-header{
			flex-direction: column;
		}
		&-title{
			text-align: center;
		}
		&-offer{
			&__title{
				text-align: center;
			}
			&__block{
				padding-top: 0;
				flex-direction: column;
				align-items: center;
				width: 250px;
			}
		}
	}
	.footer{
		&-block{
			&__item:nth-child(2) {
				text-align: center;
				line-height: 1.8em;
			}
			&__link:first-child{
				margin-right: 0px;
			}
			&__link{
				width: 380px;
				text-align: center;
			}
		}
	}
	.filtres{
		&-header{
			&__title{
				font-size: 30px;
			}
			&__link{
				margin-bottom: 30px;
			}
			&__item:first-child{
				flex-direction: column;
				align-items: start;
			}
		}
		&-block{
			&__skills{
				width: 70%;
			}
			&__header{
				&__item{
					width: 100%;
					flex-direction: column;
				}
		}
		}
		&-professions{
			&__element{
				flex-direction: column;
			}
			&__text{
				width: 200px;
			}
		}
		&-opened{
			max-height: 2150px;
		}
	}
	.youtube{
		&-block{
			a{
				font-size: 20px;
			}
		}
	}
	.question{
		.container{
			width: 300px;
		}
	}
	.prof{
		&-block{
			&__title{
				font-size: 27px;
			}
			&__text{
				font-size: 23px;
			}
			&__item:last-child{
				width: 350px;
				right: calc(50% - 175px);
				img{
					 width: 350px;
					 height: 200px;
				}
			}
		}
	}
	.why{
		&-block{
			&__item{
				margin: 0 auto;
			}
			&__item:nth-child(2){
				margin-top: 20px;
			}
			&__item:nth-child(3){
				margin-bottom: 0px;
			}
		}
	}
	.orientation{
		&-block{
			&__item:first-child{
				width: 350px;
				right: calc(50% - 175px);
				top: 250px;
				img{
					width: 350px;
					height: 200px;
				}
			}
			&__item:last-child{
				padding-top: 150px;
				right: 0;
				h1{
					font-size: 32px;
				}
				a{
					width: 400px;
					justify-content: center;
					span{
						font-size: 16px;
					}
				}
			}
		}
	}
	.cabinet{
		&-content{
			&__item{
				width: 300px;
				flex-direction: column;
			}
		}
	}
}

@media screen and (max-width: 410px) {
	.body-active{
		left: -280px;
	}
	.header{
		&-nav{
			right: -280px;
			width: 280px;
		}
		&__link{
			font-size: 16px;
		}
		&-body{
			width: 320px;
		}
		&-cabinet{
			top: 185px;
		}
	}
	.prof{
		padding-top: 100px;
		padding-bottom: 300px;
		&-block{
			&__item{
				a{
					height: 60px;
					span{
						font-size: 16px;
					}
				}
			}
			&__item:first-child{
				margin-left: 0px;
			}
			&__item:last-child{
				width: 300px;
				right: calc(50% - 150px);
				top: 370px;
				img{
					width: 300px;
					height: 180px;
				}
			}
		}
	}
	.orientation{
		padding-bottom: 400px;
		&-block{
			&__item:first-child{
				width: 300px;
				right: calc(50% - 150px);
				top: 180px;
				img{
					width: 300px;
					height: 180px;
				}
			}
			&__item:last-child{
				padding-top: 0;
				h1{
					font-size: 27px;
				}
			}
		}
	}
	.question{
		&-block{
			&__info{
				width: 320px;
				margin: 15px auto 0px;
			}
			&__item {
				a{
					width: 320px;
				}
				span{
					font-size: 22px;
				}
			}
		}
	}
}