@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg'),
       url('../fonts/FuturaPT-Heavy.ttf') format('truetype'),
       url('../fonts/FuturaPT-Heavy.woff') format('woff'),
       url('../fonts/FuturaPT-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Bold';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg'),
       url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
       url('../fonts/FuturaPT-Bold.woff') format('woff'),
       url('../fonts/FuturaPT-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Light';
  src: url('../fonts/FuturaPT-Light.eot');
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg'),
       url('../fonts/FuturaPT-Light.ttf') format('truetype'),
       url('../fonts/FuturaPT-Light.woff') format('woff'),
       url('../fonts/FuturaPT-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg'),
       url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
       url('../fonts/FuturaPT-Medium.woff') format('woff'),
       url('../fonts/FuturaPT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg'),
       url('../fonts/FuturaPT-Book.ttf') format('truetype'),
       url('../fonts/FuturaPT-Book.woff') format('woff'),
       url('../fonts/FuturaPT-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'),
       url('../fonts/FuturaPT-Demi.ttf') format('truetype'),
       url('../fonts/FuturaPT-Demi.woff') format('woff'),
       url('../fonts/FuturaPT-Demi.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* General styles */

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	transition: .4s all ease;
}

/* The rest code */

.container{
	width: 1130px;
	margin: 0 auto;
}

.header-container{
	width: 1250px;
	margin: 0 auto;
	position: relative;
}

.header{
	padding: 10px 0px;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	&-nav{
		display: flex;
	}
	&-body{
		display: flex;
		position: relative;
		z-index: 2;
	}
	&-data{
		display: none;
		position: absolute;
		z-index: 10;
		right: 0;
		top: 93px;
		background: #f4f4f4;
		padding: 20px 90px 20px 35px;
		border-radius: 0 0 15px 15px;
		&__title{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 27px;
			line-height: 0;
		}
		&__mail{
			color: #4b4b4b;
			font-family: "FuturaPT-Book";
			font-size: 19px;
			line-height: 0;
			padding-left: 2px;
		}
		&__item:nth-child(2) {
			padding: 30px 0px;
			display: flex;
			flex-direction: column;
			line-height: 2em;
		}
		&__link, &__logout{
			color: #505050;
			font-family: "FuturaPT-Medium";
			font-size: 22px;
			text-decoration: none;
		}
		&__logout{
			cursor: pointer;
		}
	}
	&-cabinet{
		display: none;
		cursor: pointer;
		padding: 15px 30px;
		background: #f5f5f5;
		position: absolute;
		right: 0;
		&__item{
			padding: 14px 20px;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
			border-radius: 26px;
		}
	}
	&__menu{
		display: flex;
		align-items: center;
	}
	&__link{
		text-decoration: none;
		color: #4b4b4b;
		font-family: "FuturaPT-Book";
		font-size: 19px;
		margin-right: 40px;	
		display: block;
		&-first:hover:after{
			content: '';
			display: block;
			width: 40px;
			height: 3px;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			position: absolute;
			top: 30px;
			left: 0;
		}
		&-second:hover:after{
			content: '';
			display: block;
			width: 120px;
			height: 3px;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			position: absolute;
			top: 30px;
			left: 1px;
		}
		&-third:hover:after{
			content: '';
			display: block;
			width: 73px;
			height: 3px;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			position: absolute;
			top: 30px;
			left: 1px;
		}
	}
	&__link:hover{
		position: relative;
		color: #be1622;
	}
}

.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.navbar{
	display: flex;
	justify-content: space-between;
	&-item{
		display: flex;
	}
	&-block{
		display: flex;
		align-items: center;
	}
	&-line{
		display: block;
		width: 1px;
		height: 100px;
		background-color: #ebebeb;
	}
	&-line:first-child{
		margin: 0px 30px 0px 30px;
	}
	&-text{
		color: #4b4b4b;
		font-family: "FuturaPT-Book";
		text-decoration: none;
		font-size: 19px;
		margin-right: 50px;
		transition: .4s;
	}
	&-text:last-child{
		margin-right: 30px;
	}
	&-text:first-child{
		margin-left: -5px;
	}
	&-text:hover{
		border-bottom: 2px solid #d02935;
	}
	&-yout{
		margin-left: 30px;
	}
	&-brand{
		border-radius: 50px;
		padding: 10px;
		margin-right: 12px;
		box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
		background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%), linear-gradient(to top, #ff0100 0%, #fd3131 100%);
	}
	&-link{
		font-family: "FuturaPT-Medium";
		text-decoration: none;
		padding: 13px 55px;
		color: #fff;
		font-size: 22px;
		background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
		border-radius: 26px;
	}
}

.offer{
	background: #f4f4f4;
	padding: 125px 0px 100px;
	&-title{
		font-family: 'FuturaPT-Bold';
		text-align: center;
		color: #3d3d3d;
		font-size: 55px;
		line-height: 0;
	}
	&-text{
		font-family: 'FuturaPT-Medium';
		font-size: 28px;
		text-align: center;
		margin: 0 auto;
		width: 530px;
		color: #595959;
		padding-top: 10px;
		padding-bottom: 40px;
	}
	&-img{
		display: block;
		margin: 0 auto;
	}
}

.instruction {
	padding: 60px;
	&-title{
		padding-bottom: 40px;
		text-align: center;
		color: #3d3d3d;
		font-family: "FuturaPT-Heavy";
		font-size: 39px;
	}
	&-block{
		display: flex;
		justify-content: space-between;
	}
	&-item{
		margin: 0 auto;
		text-align: center;
		&__img{
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
			padding: 23px 23px 23px 23px;
			border-radius: 100px;
		}
		&__text{
			font-family: "FuturaPT-Book";
			font-size: 20px;
			color: #595959;
		}
		&__text:nth-child(2){
			width: 320px;
		}
	}
}

.profession{
	z-index: 5;
	background-color: #f4f4f4;
	padding: 85px 0px;
	&-title{
		font-family: "FuturaPT-Demi";
		font-size: 27px;
		color: #505050;
		padding-bottom: 40px;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		margin-top: 18px;
	}
	&-header{
		// box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		width: 258px;
		height: 68px;
		border-radius: 15px;
		background-color: #ffffff;
		p{
			padding-left: 25px;
			color: #505050;
			font-family: "FuturaPT-Bold";
			font-size: 18px;
		}
	}
	&-body{
		background: #ffffff;
		max-height: 0;
		overflow: hidden;
		width: 258px;
		transition: max-height .4s ease-in;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	&-img{
		display: block;
		background: url('../img/arrow.png');
		background-repeat: no-repeat;
		width: 18px;
		height: 13px;
		padding-right: 30px;
		transition: .4s;
	}
	&-send{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 180px;
		&__pick{
			text-decoration: none;
			border-radius: 39px;
			padding: 0px 40px;
			height: 80px;
			width: 390px;
			display: flex;
			align-items: center;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
			span{
				color: #ffffff;
				font-family: "FuturaPT-Demi";
				font-size: 25px;
			}
			img{
				margin-left: 23px;
			}
		}
		&__pay{
			width: 187px;
			height: 62px;
			color: #ffffff;
			font-family: "FuturaPT-Bold";
			font-size: 22px;
		}
		&__item:last-child{
			display: flex;
			align-items: center;
			color: #505050;
			font-family: "FuturaPT-Bold";
			font-size: 22px;
		}
		&__brand{
			height: 50px;
			width: 50px;
		}
		&__text{
			margin-right: 20px;
		}
	}
}

.result{
	padding-top: 40px;
	padding-bottom: 75px;
	&-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-title{
		color: #3d3d3d;
		font-family: "FuturaPT-Heavy";
		font-size: 39px;
	}
	&-link{
		color: #be1622;
		font-family: "FuturaPT-Medium";
		font-size: 23px;
	}
	&-offer{
		padding-top: 20px;
		&__title{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 27px;
		}
		&__block{
			display: flex;
			justify-content: space-between;
			width: 422px;
			padding-top: 20px;
			ol li{
				color: #505050;
				font-family: "FuturaPT-Medium";
				font-size: 23px;
			}
		}
	}
	&-block{
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
	}
	&-body{
		&__item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 25px;
			cursor: pointer;
			width: 543px;
			height: 68px;
			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
			border-radius: 15px;
			background-color: #ffffff;
		}
	}
	&__body{
		max-height: 0;
		overflow: hidden;
		background: #ffffff;
		width: 543px;
		transition: max-height .4s ease-in;
	}
}

.footer{
	padding: 80px 0px 30px;
	background-color: #f4f4f4;
	&-block{
		&__link{
			color: #868686;
			font-family: "FuturaPT-Book";
			font-size: 18px;
			text-decoration: underline;
		}
		&__link:first-child{
			margin-right: 40px;
		}
		&__item:last-child{
			color: #565656;
			font-family: "FuturaPT-Book";
			font-size: 18px;
			text-align: right;
			a{
				text-decoration: none;
				color: #be1622;
				text-decoration: underline;
			}
		}
	}
	&-block:first-child{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-block:nth-child(2), &-block:last-child{
		display: flex;
		justify-content: center;
		color: #666666;
		font-family: "FuturaPT-Light";
		font-size: 17px;
	}
	&-block:last-child{
		p:first-child{
			margin-right: 40px;
		}
	}
}

.filtres{
	padding-top: 70px;
	padding-bottom: 70px;
	&-navigation{
		&__item{
			color: #be1622;
			font-family: "FuturaPT-Light";
			font-size: 18px;
			display: flex;
			align-items: center;
			a{
				text-decoration: none;
				color: #be1622;
			}
			span{
				display: block;
				width: 5px;
				height: 5px;
				background-color: #c31b27;
				border-radius: 50px;
				margin: 0px 20px;
			}
		}
		&__current{
			color: #4b4b4b;
		}
	}
	&-header{
		&__title{
			color: #3d3d3d;
			font-family: "FuturaPT-Heavy";
			font-size: 39px;
		}
		&__subtitle{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 27px;
			line-height: 0;
		}
		&__item{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__link{
			color: #be1622;
			font-family: "FuturaPT-Demi";
			font-size: 23px;
		}
	}
	&-block{
		&__item{
			margin-bottom: 30px;
		}
		&__title{
			color: #505050;
			font-family: "FuturaPT-Medium";
			font-size: 18px;
			margin-top: 0;
		}
		&__skill{
			margin-top: 50px;
		}
		&__skills{
			width: 23%;
			height: 120px;
			background-color: #fff;
			border-radius: 15px;
			padding-left: 25px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 18px 0px 18px 25px;
			&__checkbox{
				width: 18px;
				height: 18px;
				background-image: url('../img/checkbox-1.png');
				margin-right: 8px;
			}
			&__item{
				display: flex;
			}
			&__item:nth-child(7) {
				margin-top: 20px !important;
			}
			&__text, &__checkbox{
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
			}
			&__text{
				font-family: "FuturaPT-Book";
			}
		}
		&__element{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__item{
				margin-top: 20px;
				display: flex;
				justify-content: space-between;
			}
		}
		&__header{
			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
			border-radius: 15px;
			background-color: #ffffff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			&__item{
				width: 50%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 15px 25px;
				p:first-child{
					color: #505050;
					font-family: "FuturaPT-Medium";
					font-size: 23px;
				}
				p:last-child{
					color: #4b4b4b;
					font-family: "FuturaPT-Medium";
					font-size: 23px;
				}
			}
		}
	}
	&-img{
		margin-right: 40px;
	}
	&-professions{
		padding-top: 50px;
		padding-bottom: 40px;
		padding-left: 10px;
		&__title{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 27px;
		}
		&__element{
			display: flex;
		}
		&__block:first-child{
			margin-right: 113px;
			margin-left: 10px;
		}
		&__text{
			color: #505050;
			font-family: "FuturaPT-Medium";
			font-size: 23px;
		}
	}
}

.prof{
	padding: 150px 0px 180px;
	background: #f4f4f4;
	position: relative;
	&-block{
		display: flex;
		&__title{
			color: #3d3d3d;
			font-family: "FuturaPT-Bold";
			font-size: 55px;
			width: 570px;
			margin: 0;
		}
		&__text{
			color: #595959;
			font-family: "FuturaPT-Medium";
			font-size: 28px;
			margin-bottom: 40px;
		}
		&__item:last-child{
			position: absolute;
			right: 5%;
			top: 45px;
		}
		&__img{
			width: 834px;
			height: 551px;
		}
	}
}

.orientation{
	padding: 305px 0px;
	position: relative;
	background: #ffffff;
	&-block{
		display: flex;
		align-items: center;
		&__item:first-child{
			position: absolute;
			left: 0;
		}
		&__item:last-child{
			position: absolute;
			right: 10%;
		}
	}
}

.why{
	background: #f4f4f4;
	padding: 95px 0px;
	&__title{
		text-align: center;
		color: #3d3d3d;
		font-family: "FuturaPT-Heavy";
		font-size: 39px;
		margin-bottom: 80px;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		text-align: center;
		&__title{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 27px;
			line-height: 0;
		}
		&__text{
			color: #4b4b4b;
			width: 220px;
			font-family: "FuturaPT-Book";
			font-size: 20px;
		}
	}
}

.youtube{
	padding: 65px 0px 115px;
	.container{
		position: relative;
	}
	&-category{
		z-index: 6;
		cursor: pointer;
		text-decoration: underline;
	}
	&-block:first-child{
		p{
			text-decoration: underline;
		}
	}
	&-blocks{
		position: relative;
		z-index: 1;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__img{
			border-radius: 20px;
		}
		&__text{
			color: #4b4b4b;
			font-family: "FuturaPT-Book";
			font-size: 20px;
			width: 190px;
		}
		&__texttwo{
			text-decoration: none !important;
		}
		&__element{
			display: flex;
			align-items: center;
		}
		&__category{
			display: none;
			z-index: 5;
			background: #fff;
			position: absolute;
			right: -30px;
			top: 3%;
			width: 303px;
			height: 451px;
			border-radius: 15px;
			padding-left: 30px;
			padding-top: 70px;
			&__check{
				background: url('../img/checkbox-2.png');
				width: 18px;
				height: 18px;
				margin-right: 10px;
				cursor: pointer;
			}
			&__text{
				color: #505050;
				font-family: "FuturaPT-Medium";
				font-size: 22px;
				line-height: 0em;
				text-decoration: none !important;
				cursor: pointer;
			}
		}
	}
	&-switch{
		display: flex;
		justify-content: center;
		color: #4b4b4b;
		font-family: "Futura PT - Book";
		font-size: 20px;
		&__previous{
			margin-right: 30px;
			cursor: pointer;
		}
		&__next{
			margin-left: 30px;
			cursor: pointer;
		}
		&__pages{
			display: flex;
			cursor: pointer;
		}
		&__text{
			margin-right: 10px;
		}
		&__text:first-child{
			color: #be1622;;
		}
		&__text:last-child{
			margin-right: 0;
		}
	}
}

.question{
	position: relative;
	background: #f4f4f4;
	padding-top: 82px;
	.container{
		width: 1260px;
	}
	&__title{
		color: #565656;
		font-family: "FuturaPT-Heavy";
		font-size: 39px;
		margin-left: 31%;
	}
	&-block{
		display: flex;
		justify-content: space-between;
		&__info{
			padding: 0px 25px 0px 40px;
			margin-top: 30px;
			border-radius: 37px;
			background-color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 410px;
			height: 77px;
			input{
				width: 90%;
				border: 0;
				color: #414141;
				font-family: "FuturaPT-Book";
				font-size: 23px;
			}
			img{
				box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
				padding: 12px 13px;
				border-radius: 50px;
			}
		}
		&__item{
			a{
				width: 410px;
				margin-top: 17px;
				display: flex;
				justify-content: center;
			}
		}
		&__answer{
			height: 160px;
			align-items: start;
			padding-top: 25px;
		}
		&__text{
			color: #868686;
			font-family: "FuturaPT-Book";
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			img{
				margin-right: 10px;
			}
		}
	}
}

.cabinet{
	padding-top: 60px;
	&-header{
		&__title{
			color: #3d3d3d;
			font-family: "FuturaPT-Heavy";
			font-size: 39px;
			line-height: 1.2em;
			padding-top: 0;
			margin-top: 0;
		}
	}
	&-block{
		display: flex;
		&__text{
			display: inline;
			color: #525252;
			border-radius: 24px;
			font-family: "FuturaPT-Medium";
			font-size: 23px;
			padding: 10px 20px;
			cursor: pointer;
		}
	}
	&-content{
		display: flex;
		justify-content: space-between;
		padding-top: 50px;
		&__item{
			width: 540px;
			padding: 17px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.05);
			border-radius: 15px;
		}
		&__element{
			display: flex;
			align-items: center;
		}
		&__text{
			width: 50px;
			color: #656565;
			font-family: "FuturaPT-Medium";
			font-size: 20px;
		}
		&__title{
			color: #505050;
			font-family: "FuturaPT-Demi";
			font-size: 22px;
			margin-left: 20px;
		}
		&__link{
			text-decoration: none;
			color: #be1622;
			font-family: "FuturaPT-Medium";
			font-size: 19px;
			padding: 17px 50px;
			border: 1px solid #d42d39;
			border-radius: 26px;

		}
		&__active{
			color: #fff;
			padding: 17px 40px;
			box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
			border-radius: 26px;
			background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
		}
	}
	&-send{
		&__item{
			margin: 50px auto;
		}
	}
}

/* General styles */

.result-opened{
	max-height: 150px;
}

.filtres-opened{
	max-height: 1000px;
	padding: 30px 30px 0px 40px;
	width: 100%;
	background-color: #f4f4f4;
}

.opened{
	max-height: 150px;
}

.border {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.nav-opened{
	display: flex !important;
	flex-direction: column;
}

.check-active{
	background: url('../img/checkbox-1.png') !important;
}

.category-active{
	display: block !important;
}

.body-active{
   	position: relative;
	left: -700px;
}

.navbar-active{
	right: 0 !important;
}

.overflow{
	transition: .4s;
}

.overflow-active{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 20;
}

.data-active{
	display: block !important;
}

.navbar-link__disabled{
	display: none !important;
}

.navbar-block__active{
	margin-right: auto;
	margin-top: 0 !important;
}

.display-none{
	display: none;
}

.cabinet-text__active{
	color: #fff;
	box-shadow: 0 15px 27px rgba(190, 22, 34, 0.15);
	background-image: linear-gradient(51deg, #be1622 0%, #d62f3b 100%);
}